<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Good Looks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cart">Cart <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" ngbDropdown #myDrop="ngbDropdown">
        <a class="nav-link dropdown-toggle" ngbDropdownAnchor (focus)="myDrop.open()" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Lipstick</a>
          <a class="dropdown-item" href="#">Face</a>
          <a class="dropdown-item" href="#">Contour</a>
          <a class="dropdown-item" href="#">Eyeshadow</a>
          <a class="dropdown-item" href="#">Brows</a>
          <a class="dropdown-item" href="#">Highlights</a>
          <a class="dropdown-item" href="#">Brushes</a>
          <a class="dropdown-item" href="#">Nails</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      Hi, {{username}} &nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>