<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Item</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartProduct of cart.cartProduct">
        <td><img class="card-img-top" [src]="cartProduct.product.image" alt="Item image" style="width: 100px"></td>
        <td> {{cartProduct.product.name}} </td>
        <td>
          <button (click)="decreaseQty(cartProduct)">-</button>
          {{cartProduct.quantity}}
          <button (click)="increaseQty(cartProduct)">+</button>
        </td>
        <td>£{{cartProduct.product.price*cartProduct.quantity}}</td>
        <td><button (click)="removeItem(cartProduct)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>