<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Item</th>
      <th scope="col">Qty</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cart.cartProduct">
      <td> {{c.quantity}} </td>
      <td> {{c.product.name}} </td>
      <td><img class="card-img-top" [src]="c.product.image" alt="Item image" style="width: 200px"></td>
      <td>£{{c.product.price*c.quantity}}</td>
    </tr>
  </tbody>
</table>