<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Lipsticks</a>
    <a href="#" class="list-group-item list-group-item-action">Face</a>
    <a href="#" class="list-group-item list-group-item-action">Contour</a>
    <a href="#" class="list-group-item list-group-item-action">Eyeshadows</a>
    <a href="#" class="list-group-item list-group-item-action">Brows</a>
    <a href="#" class="list-group-item list-group-item-action">Highlighters</a>
    <a href="#" class="list-group-item list-group-item-action">Brushes</a>
    <a href="#" class="list-group-item list-group-item-action">Nails</a>
  </div>
</div>