<div class="row">

  <div class="col-md-3">
    <div *ngIf="product.name" class="item card">
      <span class="notify-badge" *ngIf="product.percentage">
        <i class="fa fa-tags"></i> {{ product.percentage }} % Off
      </span>
      <img class="card-img-top" [src]="product.image" *ngIf="product.image" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-text">
          <div class="row">
            <span *ngIf="!product.percentage" class="card-text col-6 text-danger">
              {{ product.price | currency:'LKR ' : 'symbol' : '1.0'}}</span>
            <div *ngIf="product.percentage">
              <span class="card-text col-6 text-danger">
                <del> {{ product.price | currency:'LKR ' : 'symbol' : '1.0'}} </del>
              </span>
              <span class="card-text col text-right text-danger">
                <b> {{ product.price*(1-product.percentage/100) | currency:'LKR ' : 'symbol' : '1.0'}}</b>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <form #productForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid"> Name is Required </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Rs.</span>
          </div>
          <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control"
            required [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is Required</div>
          <div *ngIf="price.errors.min">Price should be greater than 0</div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input #category="ngModel" [(ngModel)]="product.category" name="category" id="category" type="text"
          class="form-control" required>
        <div class="invalid-feedback d-block" *ngIf="category.touched && category.invalid"> Category is Required
        </div>
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        <input #image="ngModel" [(ngModel)]="product.image" name="image" id="image" type="text" class="form-control"
          required url>
        <div class="alert alert-danger" *ngIf="image.touched && image.invalid">
          <div *ngIf="image.errors.required">Image Url is Required</div>
          <div *ngIf="image.errors.url">Image Url is Invalid</div>
        </div>
      </div>


      <button class="btn btn-success" [disabled]="!productForm.valid">Save</button>
      <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>

</div>