<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <header class="card-header">
          <a routerLink="/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
          <h4 class="card-title mt-2">Sign up</h4>
        </header>
        <article class="card-body">
          <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" ngModel>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username"
                placeholder="Enter email for username" ngModel>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
                ngModel>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ngModel>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register </button>
            </div>
            <div class="border-top card-body text-center">Have an account? <a routerLink="/login">Log In</a></div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>