<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Good Looks</h1>
      <p>Defining Beauty, Defining You</p>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img
              src="https://images.beautybay.com/eoaaqxyywn6o/4wRGMj4MurAqDxNTuG8gas/1ddf03d3c8538b024af16602fc0faabb/artistcouturediamondliptease_GL.jpg"
              class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Get 50% off this product before 30th June</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.beautybay.com/eoaaqxyywn6o/b2z3MoqsRGmmYs428yasE/b5543cd7c8c64034b7ef6faed2c63a15/anastasiastickcontour_1_GL.jpg" class="img-responsive"
              style="width:100%" alt="Image"></div>
          <div class="panel-footer">Get 50% off this product before 30th June</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.beautybay.com/eoaaqxyywn6o/4y6z2lrzSwGqmMqWcsqak8/b3292df41574b4bca44794df046084c5/HANK0005F_1_L.jpg" class="img-responsive"
              style="width:100%" alt="Image"></div>
          <div class="panel-footer">Get 50% off this product before 30th June</div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://res.cloudinary.com/feelunique-com/image/upload/f_auto,t_product_large/v1/live/product/main-image/90062/pctgcpvd7caeet6hdlgk.jpg" class="img-responsive"
              style="width:100%" alt="Image"></div>
          <div class="panel-footer">Get 50% off this product before 30th June</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.beautybay.com/eoaaqxyywn6o/4efezFhLvygwU8E2IKQmm8/6a36465c883a8c56a586972c92665c31/ANAS0093F_1_L.jpg" class="img-responsive"
              style="width:100%" alt="Image"></div>
          <div class="panel-footer">Get 50% off this product before 30th June</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.beautybay.com/eoaaqxyywn6o/3oABGOOSVikI8EsOAI8Uu4/6fd707786fd0ec2878b6664d81f49c07/anas0079f_1_l.jpg" class="img-responsive"
              style="width:100%" alt="Image"></div>
          <div class="panel-footer">Get 50% off this product before 30th June</div>
        </div>
      </div>
    </div>
  </div><br><br>

</body>

</html>